- comment = activity.trackable.comments.last
.wrapper-box
  .row
    .one.column
      = image_tag activity.user.profile_picture.url(:small), :class=>"middle-image"
    .eleven.columns
      %p.post-name
        = link_to activity.user.name , activity.user, :class=>'post-user-name'
        has commented on discussion:
        = link_to activity.trackable.title, [activity.trackable.discussable, activity.trackable]
        %small.item-time-ago
          = time_ago_in_words activity.updated_at
          ago
.wrapper-box  
  .row
    .eleven.columns.push_one      
      %p.concise-text
        = activity.trackable.content
.row
  .eleven.columns.push_one
    .bottom-item-bar
      .row
        .eight.columns
          .item-wrapper
            = link_to raw("<i class='fa fa-clock-o'></i>#{pluralize(activity.trackable.comments.count,'Comment')}"),"/discussions/#{activity.trackable.id}/activitycomments/#{activity.id}" , :class => "show-comment-btn", :id=> "show-comment-activity#{activity.id}", :remote => true
      .row
        .twelve.columns
          .comment-section{:id => "comment-section-activity#{activity.id}"}
            .wrapper-box          
              .small-top-margin      
                .row
                  .one.columns      
                    = image_tag comment.user.profile_picture.url(:little), :class => "middle-image"
                  .eleven.columns
                    %span.subbar-comment-name
                      %a{href: user_path(comment.user)} 
                        = comment.user_name
                      %span.grey.time-ago
                        %small
                          = time_ago_in_words comment.created_at
                          ago
                    %p.concise-text.subbar-comment-name
                      = comment.content

