= form_for [@project,@discussion] , :html=>{:multipart=>true} do |f|
  - if @discussion.errors.any?
    #error_explanation
      %h5= "#{pluralize(@discussion.errors.count, "error")} prohibited this discussion from being saved:"
      %ul
        - @discussion.errors.full_messages.each do |msg|
          %li= msg

  %fieldset
    %h5
      - if action_name == "edit"
        Amend a Discussion
      - else
        Create a Discussion

    %hr.no-margin
    .field.small-top-margin
      = f.text_field :title, :class=> "input",:placeholder => "Enter a title for the discussion"    
    .field
      = f.text_area :content, :rows=>6, :cols => 80,:class=>'input textarea inputboxforUserSearch',:placeholder =>'Elaborate it more here'
    .field
      = label_tag 'followers_list', "Add watchers to this discussion"
      = text_area_tag :followers_list, nil, :class=>"input tagsinput add-followers-tagsinput"


    .medium-top-margin
      - if action_name == "edit"
        .medium.rounded.primary.metro.btn
          = f.submit "Amend Discussion"
      - else
        .medium.rounded.primary.metro.btn
          = f.submit "Add Discussion"
      
      = link_to "Back", :back, :class => "weighted pull_right"
