- unless activity.trackable.nil?
  .wrapper-box
    .row
      .one.column
        = image_tag activity.user.profile_picture.url(:small), :class=>"middle-image"
      .eleven.columns
        %p.post-name
          = link_to activity.user.name , activity.user, :class=>'post-user-name'
          has updated the document
          = link_to activity.trackable.name , [activity.trackable.attachable,activity.trackable]
  .wrapper-box.big-left-margin
    .row
      .eleven.columns.push_one
        = render partial: "documents/document_type", locals: {document: activity.trackable}
        %span.doc-image-text
          = link_to truncate(activity.trackable.name.titleize,length: 20), download_project_document_path(activity.trackable.attachable, activity.trackable), :class=>"doc-title"  
        %span.doc-image-text
          Version
          = activity.trackable.document_versions.count
        %p.concise-text
          = activity.trackable.document_versions.last.release_note

  .row
    .eleven.columns.push_one
      .item-wrapper
        = link_to "Open Document" , [activity.trackable.attachable, activity.trackable]
    