.row.background-box
  .two.columns.image.square
    = image_tag activity.user.profile_picture(:small)
  .eight.columns.activity-content
    =link_to activity.user.name, [activity.user]
    has 
    - if activity.action.downcase != 'comment'
      - if activity.action.downcase == 'reopen'
        = activity.action.downcase+'ed'
      - elsif activity.action.downcase == 'user'
        assigned you
      - elsif activity.action.downcase == 'date'
        changed the date of
      - else
        = activity.action.downcase+'d'
      the 
      - if activity.trackable_type == 'Todo'
        task
        %a{href: "/todo_lists/#{activity.affected_id}/todos/#{activity.trackable_id}"}
          = activity.trackable_name
      - else
        = activity.trackable_type.downcase
        on
        = activity.affected_type.downcase
        %a{href: "#{activity.path}"}
          = activity.affected_name
    - else
      commented on
      - if activity.trackable_type == 'Todo'
        the task
        %a{href: "/todo_lists/#{activity.affected_id}/todos/#{activity.trackable_id}"}
          = activity.trackable_name
      -else
        %a{href: "#{activity.path}"}
          = activity.trackable_name
  .two.columns.activity-time
    = time_ago_in_words(activity.updated_at).gsub('about','')
    ago