.big-left-margin
  .row
    .eight.columns.small-top-margin
      %h5
        Favorites
    %hr.no-margin
  .row
    .twelve.columns.medium-top-margin
      %ul
        - @favorites.reverse_each do |month, favs|
          %h6.grey
            %i.fa.fa-calendar
            = month.upcase
          - favs.each do |favorite|
            - if favorite.favorable.is_a? Comment
              %li
                .row
                  .two.columns
                    .secondary.metro.btn.medium.rounded
                      = link_to "Comment" , [favorite.favorable.commentable,favorite.favorable], :class=> "weighted"
                  .eight.columns
                    %blockquote
                      = favorite.favorable.content
            - elsif favorite.favorable.is_a? Post
              %li
                .row
                  .two.columns
                    .secondary.metro.btn.medium.rounded
                      = link_to "Post" , [favorite.favorable.postable,favorite.favorable], :class=> "weighted"  
                  .eight.columns
                    %blockquote
                      = favorite.favorable.content
  - unless @favorites.presence
    .row
      .twelve.columns.large-top-margin
        %h4.grey.centered-text.medium-top-margin
          No favorites yet.Posts, comments you like will apear here for easy access.

