<div class="six columns centered login-box">
  <h4>
    Change your password
  </h4>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :patch }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>
  <%= f.hidden_field :email%>

  <div class = "field"><%= f.label :password, "New password" %><br />
  <%= f.password_field :password, :autofocus => true, :class=> "input" %></div>

  <div class = "field"><%= f.label :password_confirmation, "Confirm new password" %><br />
  <%= f.password_field :password_confirmation, :class=> "input" %></div>

  <div class="medium primary btn rounded metro"><%= f.submit "Change my password" %></div>
<% end %>

</div>


