!!!
%html(lang="en")
  %head
    %meta(charset="utf-8")
    %meta(http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1")
    %meta(name="viewport" content="width=device-width, initial-scale=1.0")
    %meta(name="description" content="A new age social intranet for collaboration. Knowledge, project and task management solution. Badges make your employees contribute more. Activity feeds and notifications make you stay updated.")
    %meta(name="keywords" content="Collaboration, knowledge, task, project, badges, reputation, question, post, topic, notification, activity feed")
    %title
      = content_for?(:title) ? yield(:title) : "Teamroq"
    = csrf_meta_tags
    = stylesheet_link_tag "application", :media => "all","data-turbolinks-track" => ""
    = javascript_include_tag "application" ,"data-turbolinks-track" => ""
    = yield :head
    %link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css')
    %link(href="favicon.ico" rel="shortcut icon")
    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47550272-1', 'teamroq.com');
      ga('send', 'pageview');
  %body
    .section-head.hero-block
      = render :partial => "layouts/partials/login_header"
      .row
        .ten.columns.centered.medium-top-margin
          %h2.hero.centered-text.text-default
            Everything that your organization needs, at one place.
          %h4.text-default.centered-text
            Learn, Ask, Do, Track, Communicate, Collaborate as a team.
          .centered-text
            .large.btn.danger.metro.rounded.centered-text
              = link_to "Login", new_user_session_path, :class => "weighted"
        .ten.columns.centered.small-top-margin
          .centered-text
            = image_tag "mac.png"
      .row
        .eight.columns.centered
               
    .section.medium-top-margin      
      .row
        .ten.columns.centered
          .row
            %h4.light
              Teamroq has many amazing features that will make you fall in love with the product. Here are some of the 
              features that will make your team rock!
            %hr
          .row
            .four.columns
              .row
                .ten.centered.columns.image
                  .centered-text
                    =image_tag asset_path("tasks.png")
              .row
                .ten.centered.columns
                  %h4.weighted.centered-text 
                    Project Management
              %p.concise-text.sub-heading-box
                Move away from old school project reports. Have important insights about your projects through project dashboard.
            .four.columns
              .row
                .ten.centered.columns.image.centered-text
                  =image_tag asset_path("tasks.png")
              .row
                .ten.centered.columns
                  %h4.weighted
                    .centered-text
                      Social Tasking
              %p.concise-text.sub-heading-box
                Spend time in completing the tasks rather than maintaining or tracking them. Very easy task creations and easy to understand comprehensive view of current status of tasks. Get notified of important project tasks, so you don’t waste time in status meetings.
            .four.columns
              .row
                .ten.centered.columns.image.centered-text
                  =image_tag asset_path("network.png")
              .row
                .ten.centered.columns
                  %h4.weighted.centered-text
                    Your own knowledge source
              %p.concise-text.sub-heading-box
                Discuss and solve issues as a team. Reach out to experts easily for your queries. Avoid wasting time by answering same question again and again. Avoid important information being locked in emails. Create transparent knowledge source and make new employee on boarding easier and faster. 
             
    .section.medium-top-margin      
      .row
        .ten.columns.centered
          .row
            .four.columns
              .row
                .ten.centered.columns.image
                  .centered-text
                    =image_tag asset_path("badges.png")
              .row
                .ten.centered.columns
                  %h4.weighted.centered-text 
                    Reward for Contributions
              %p.concise-text.sub-heading-box
                Find your star performers and subject matter experts easily. Motivate your peers by appreciating their good work. Gain reputation and badges for quality contribution to different projects and topics.  Improve user engagement level and create collaborative learning environment.
            .four.columns
              .row
                .ten.centered.columns.image.centered-text
                  =image_tag asset_path("documents.png")
              .row
                .ten.centered.columns
                  %h4.weighted
                    .centered-text
                      Documents Management
              %p.concise-text.sub-heading-box
                Upload documents easily. Maintain different versions of same document. Keep track of all your data. All your project documents at one place, find other documents easily. No need of floating documents over emails.
            .four.columns
              .row
                .ten.centered.columns.image.centered-text
                  =image_tag asset_path("collaboration.png")
              .row
                .ten.centered.columns
                  %h4.weighted.centered-text
                    Your own Social network
              %p.concise-text.sub-heading-box
                Follow people, topics, questions and posts. Create groups and teams easily. Reach out to everyone easily. Get all the latest happenings in your feeds. Check the latest trends in the areas of your interest. Get awesome suggestions as per your interests.
    
    .section.medium-top-margin      
      .row
        .ten.columns.centered
          .row
            .four.columns
              .row
                .ten.centered.columns.image
                  .centered-text
                    =image_tag asset_path("tasks.png")
              .row
                .ten.centered.columns
                  %h4.weighted.centered-text 
                    Save money
              %p.concise-text.sub-heading-box
                Avoid spending on specialised products such as Trello, Asana, Dropbox,Gmail etc. Stop wasting time and resources by duplicating same content on multiple products. Avoid creating vertical silos between different products. Make all information easily accessible to everyone.
            .four.columns
              .row
                .ten.centered.columns.image.centered-text
                  =image_tag asset_path("devices.png")
              .row
                .ten.centered.columns
                  %h4.weighted
                    .centered-text
                      Available everywhere 
              %p.concise-text.sub-heading-box
                In the office, on the field or at home; stay connected and updated everywhere. Easily extendible to multiple devices and platforms. Maintain data integrity by avoiding sms, private chats on unsecured third party tools. Capture all the important conversations at a single place so that others can also benefit.
            .four.columns
              .row
                .ten.centered.columns.image.centered-text
                  =image_tag asset_path("badges.png")
              .row
                .ten.centered.columns
                  %h4.weighted.centered-text
                    Important analytics
              %p.concise-text.sub-heading-box
                All your enterprise data on single platform. Run analytics on this data to get comprehensive reports. Find out strengths and weaknesses of your organisation in different areas. Learn from the past mistakes. Make better informed decisions to take your organisation to the next level.
         

    .section.medium-top-margin
      = render partial: 'footer'

